@model IEnumerable<MvcExamenEventosAlberto.Models.CategoriasEvento>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-asp-controller="Eventos" asp-action="FindCategoriasEventos" asp-route-id="@item.IdCategoria">Eventos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
